<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>View pdf</title>
        <script src="view.js" type="module"></script>
    </head>
    <body>
        <h1 style="text-align:center;">Pdf</h1>
        <button id="NextLine">Next Line</button>
        <button id="nextPage">Next Page</button>
        <div>
        <canvas id="pdf" style="position:absolute; right: 100px;border: 1px solid black; direction:ltr"></canvas>
        </div>
        <div id="textDiv" style="position: absolute; overflow:auto; width: 350px; height:100%; left: 300px; border: 1px solid">
        </div>
        
    </body>
</html>